.Story {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 16px;
  min-height: 40px;
  flex-wrap: wrap;

  em {
    background: #ff0!important;
    color: #000!important;
    font-style: normal;
    font-weight: 700;
  }

  .Story_container {
    display: flex;
    align-items: center;

    .Story_data {
      margin: 4px 0;

      .Story_title {
        width: 100%;
        position: relative;
        margin-bottom: 4px;

        a {
          color: #000;
        }

        .Story_link {
          color: #828282;
          font-size: 13px;
          word-break: break-all;
          margin-left: 4px;
        }
      }

      .Story_meta {
        color: #696969;
        font-size: 11px;

        .Story_separator {
          margin: 0 5px;
          color: #696969;
        }

        .Story_text {
          padding: 8px 0;
          color: #000;
          font-size: 12px;
          width: 100%;
          line-height: normal;
          font-style: normal;
          -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
          font-variant-caps: normal;
          font-variant-east-asian: normal;
          -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal;
          font-variant-numeric: normal;
          font-weight: 400;

          span {
            white-space: normal;
          }
        }
      }
    }
  }
}
